*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.task-form{
    width:500px;
}

.task-form .form-control{
    width: 100%;
    margin: 10px 0;
}

.task-form button{
    padding: 7px;
}

.task-form input{
    border: 1px solid #dedede;
    padding: 8px;
    width: 79%;
}

.task-form .show-all-tasks-btn.show{
    display: block;
    width: 95%;
}


.task-form .show-all-tasks-btn{
    display: none;
    width: 95%;
}

.task-form textarea{
    border: 1px solid #dedede;
    resize: none;
    height: 400px;
    outline: 0;
    width: 95%;
}

.task-list{
    border: 1px solid #dedede;
    height: 400px;
    width: 95%;
}

ul{
    list-style: none;
}

ul li{
    border-bottom: 1px solid #dedede;
    padding: 10px;
    position: relative;
}

li .delete-item{
    height:30px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}